{% extends 'base.html' %}

{% block pageheading %}
{% endblock %}

{% block main %}
    {% if book %}
        <table>
            <tr>
                <th>Tutor</th>
                <th>Subject</th>
                <th>Location</th>
                <th>Time</th>
            </tr>

            {% for booking in book %}
                <tr>
                    <td>{{ booking[1] }}</td>
                    <td>{{ booking[2] }}</td>
                    <td>{{ booking[3] }}</td>
                    <td>{{ booking[4] }}</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No Bookings yet!</p>

    {% endif %}
{% endblock %}